{% extends "layouts/base.html" %}

{% block title %} Securities {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Secirities</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id>
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Symbol
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th class="text-center">
                                        Prices
                                    </th>
                                    <th class="text-right">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in page_obj %}
                                  <tr>
                                    <td>{{ stock.ticker }}</td>
                                    <td>{{ stock.name }}</td>
                                    <td>{{ stock.description|default:"N/A" }}</td>
                                    <td class="text-center">--</td> <!-- chỗ này sau này có thể gắn giá hoặc chart -->
                                    <td class="td-actions text-right">
                                        <button type="button" class="btn btn-link btn-edit"
                                            data-toggle="modal"
                                            data-target="#editStockModal"
                                            data-id="{{ stock.id }}"
                                            data-ticker="{{ stock.ticker }}"
                                            data-name="{{ stock.name }}"
                                            data-description="{{ stock.description|default:"" }}">
                                            <i class="tim-icons icon-pencil"></i>
                                        </button>
                                    </td>
                                  </tr>
                                {% empty %}
                                  <tr>
                                    <td colspan="5" class="text-center">No stocks found.</td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                        <div class="pagination justify-content-center">
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                              {% endif %}
                          
                              <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                          
                              {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                              {% endif %}
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit Stock Modal -->
<div class="modal fade" id="editStockModal" tabindex="-1" role="dialog" aria-labelledby="editStockModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="editStockForm">
          <div class="modal-header">
            <h5 class="modal-title" id="editStockModalLabel">Edit Stock</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="stock_id" id="stock_id">
            <div class="form-group">
              <label for="ticker">Ticker</label>
              <input type="text" class="form-control" id="ticker" name="ticker">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        //securities.handleEditButtonClicks();
        $('.btn-edit').on('click', function () {
            const button = $(this);
            $('#stock_id').val(button.data('id'));
            $('#ticker').val(button.data('ticker'));
            $('#name').val(button.data('name'));
            $('#description').val(button.data('description'));
        });
    });
</script>

{% endblock javascripts %}